ODDSPOT_ENV=development
ODDSPOT_HTTP_ADDR=127.0.0.1:8080
ODDSPOT_DATABASE_DSN='USER:PASSWORD@tcp(HOST:PORT)/DATABASE?parseTime=true&charset=utf8mb4&loc=UTC'
ODDSPOT_INSTALLATION_HMAC_KEY=CHANGE_ME_AT_LEAST_32_RANDOM_CHARACTERS
ODDSPOT_ADMIN_TOKEN=CHANGE_ME_AT_LEAST_32_RANDOM_CHARACTERS
ODDSPOT_DEFAULT_MARKET=global
ODDSPOT_DEFAULT_LOCALE=zh-CN
ODDSPOT_LOG_LEVEL=debug
