ODDSPOT_ENV=development
ODDSPOT_HTTP_ADDR=127.0.0.1:8080
ODDSPOT_DATABASE_DSN='USER:PASSWORD@tcp(HOST:PORT)/DATABASE?parseTime=true&charset=utf8mb4&loc=UTC'
ODDSPOT_INSTALLATION_HMAC_KEY=CHANGE_ME_AT_LEAST_32_RANDOM_CHARACTERS
ODDSPOT_ADMIN_TOKEN=CHANGE_ME_AT_LEAST_32_RANDOM_CHARACTERS
ODDSPOT_DEFAULT_MARKET=global
ODDSPOT_DEFAULT_LOCALE=zh-CN
ODDSPOT_LOG_LEVEL=debug
ODDSPOT_CONTENT_DIR=.\storage\content
ODDSPOT_ADMIN_DIR=..\admin
ODDSPOT_PUBLIC_BASE_URL=http://127.0.0.1:8080
ODDSPOT_USER_SERVER_BASE_URL=http://127.0.0.1:8081
ODDSPOT_USER_SERVER_APP_ID=game_odd_spot
